In [4]:
#How to use the data inside using output 
items = ['caco', 'fanta', 'water']
price = [ 200, 300, 450 ]
number = [ 52, 45, 89 ]

user_choice = 89
for index, value in enumerate(number):
    if value == user_choice:
        print(index)
        print(value)
        print(price[index])
        print(items[index])

2
89
450
water

In [17]:

d = {'name' : 'john', 'age' : 25}
d1 = {'age' : 25 , 'name' : 'john'}

del d['name']
print(d)

'age' not in d1

len(d) >= len(d1)

{'age': 25}

False

In [16]:
dict0 = {'name' : 'Aizere', 'surname' : 'Keneskhan', 'age' : '18'}
print(dict0)
dict0['height'] = 166
print(dict0)
del dict0['age']
print(dict0)

{'name': 'Aizere', 'surname': 'Keneskhan', 'age': '18'}
{'name': 'Aizere', 'surname': 'Keneskhan', 'age': '18', 'height': 166}
{'name': 'Aizere', 'surname': 'Keneskhan', 'height': 166}

In [18]:
import json

file = open('my_json_file.txt', 'w')
file.write('hello')
file.close()

In [19]:
import json 
d = {'name' : 'Aizere', 'surname' : 'Keneskhan', 'age' : '18'}
d2 = {'name' : 'john', 'age' : 25}
d1 = {'age' : 25 , 'name' : 'john'}
with open('my_json_file.json', 'w') as file:
    json.dump(d, file)
    json.dump(d2, file)
    json.dump(d2, file)

In [21]:
d = {'Korea' : 'Seoul', 'China' : 'Beijin', 'USA' : 'Washington'}
print(d['Korea'])

Seoul

In [32]:
price = [200, 500, 500, 100]
friut = ['apple', 'banana', 'grape', 'melon']
number = [0, 1, 2, 3]

user_choice = 2
for index, value in enumerate(number):
    if value == user_choice:
        print('the price of fruit', friut[index], 'is', price[index])

the price of fruit grape is 500

In [33]:
'{}, Python'.format('hi')

'hi, Python'

In [35]:
'{0}, Python, {1} and {2}'.format('hi', 'hehe', 'pazat')

'hi, Python, hehe and pazat'

In [37]:
print('my number: {0:8d} $'.format(365365386986))
print('my number: {0:8d} $'.format(45678909876543))
print('my number: {0:8d} $'.format(1000000))

my number: 365365386986 $
my number: 45678909876543 $
my number:  1000000 $